.build/
.releases/
src/ExcelForge/bin/
src/ExcelForge/obj/
src/ExcelForge.Native/CMakeCache.txt
src/ExcelForge.Native/CMakeFiles/
src/ExcelForge.Native/*.obj
src/ExcelForge.Native/*.exp
src/ExcelForge.Native/*.lib

scripts/

*.dll
*.bak
*.tmp

Thumbs.db
.DS_Store
